<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CreateUser</servlet-name>
        <servlet-class>com.pro.controller.CreateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginSevelet</servlet-name>
        <servlet-class>com.pro.controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetServlet</servlet-name>
        <servlet-class>com.pro.controller.Forget</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePassServlet</servlet-name>
        <servlet-class>com.pro.controller.UpdatePass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dLoginServlet</servlet-name>
        <servlet-class>com.pro.controller.dLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUserServlet</servlet-name>
        <servlet-class>com.pro.controller.deleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>takeIdServlet</servlet-name>
        <servlet-class>com.pro.controller.takeId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timeSelectServlet</servlet-name>
        <servlet-class>com.pro.controller.timeSelect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUserServlet</servlet-name>
        <servlet-class>com.pro.controller.ViewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>restorePointServlet</servlet-name>
        <servlet-class>com.pro.controller.restorePoint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentActionServlet</servlet-name>
        <servlet-class>com.pro.controller.AppointmentAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeftDrServlet</servlet-name>
        <servlet-class>com.pro.controller.LeftDr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>makeAppointmentServlet</servlet-name>
        <servlet-class>com.pro.controller.makeAppointment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateUser</servlet-name>
        <url-pattern>/createuser.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginSevelet</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetServlet</servlet-name>
        <url-pattern>/forget.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePassServlet</servlet-name>
        <url-pattern>/updatepass.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dLoginServlet</servlet-name>
        <url-pattern>/dlogin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUserServlet</servlet-name>
        <url-pattern>/deleteuser.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>takeIdServlet</servlet-name>
        <url-pattern>/takeid.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timeSelectServlet</servlet-name>
        <url-pattern>/timeselect.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUserServlet</servlet-name>
        <url-pattern>/viewuser.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>restorePointServlet</servlet-name>
        <url-pattern>/restore.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentActionServlet</servlet-name>
        <url-pattern>/action.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeftDrServlet</servlet-name>
        <url-pattern>/left3.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>makeAppointmentServlet</servlet-name>
        <url-pattern>/makeAppointment.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            3000
        </session-timeout>
    </session-config>
</web-app>
